*.lock linguist-generated=true
package-lock.json linguist-generated=true
node_modules/** linguist-vendored
dist/** linguist-generated=true
build/** linguist-generated=true
coverage/** linguist-generated=true